.wrapper {
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4cqw;
  margin-bottom: 3cqw;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.all {
  font-family: var(--font-vazir);
  font-size: 3.4cqw;
  color: #7b7b7b;
  background: none;
  border: none;
  cursor: pointer;
}

.list {
  display: flex;
  gap: 1.5cqw;
  overflow-x: auto;
  padding: 1cqw 4cqw 4cqw 4cqw;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.list::-webkit-scrollbar {
  display: none;
}

.card {
  width: 25cqw;
  flex-shrink: 0;
  scroll-snap-align: start;
  cursor: pointer;
  text-decoration: none !important;
}

.imageWrapper {
  position: relative;
  width: 24cqw;
  height: 24cqw;
  border-radius: 8cqw;
  background: var(--gray-dark);
  overflow: visible;
}

.imagePlaceholder {
  position: absolute;
  inset: 0;
  border-radius: 8cqw;
  background: var(--gray-dark);
}

.image {
  border-radius: 7cqw;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease;
}

.imageHidden {
  opacity: 0;
}

.imageVisible {
  opacity: 1;
}

.discount {
  position: absolute;
  z-index: 10;
  bottom: -2cqw;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  font-size: 2cqw;
  padding: 0.8cqw 3cqw;
  width: 90%;
  border-radius: 3cqw;
  text-align: center;
  white-space: nowrap;
}

.discountNumber {
  font-size: 4cqw;
  text-align: center;
}

.info {
  margin-top: 4cqw;
  text-align: center;
}

.info p {
  margin: 0;
}

.name {
  text-align: start;
  font-size: 3.4cqw;
  font-weight: 700;
  color: #333;
}

.location {
  text-align: start;
  font-size: 3cqw;
  color: #777;
}
