.wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 5px 0;
  margin: 5px 0;
  
  cursor: grab;
}

.wrapper::-webkit-scrollbar {
  display: none ;
}

.scroller {
  display: flex;
  gap: 5px;
  padding: 0 12px;
  width: max-content;
}
