.wrapper {
  width: 100%;
  overflow-x: auto;
}

.slider {
  display: flex;
  gap: 12px;
}

.bannerPlaceholder {
  flex-shrink: 0;
  width: 90%;
  aspect-ratio: 16 / 7;
  border-radius: 14px;
  background-color: var(--gray-dark);
  margin: 10px;
}
