.wrapper {
  direction: rtl;
  width: 100%;
  overflow-x:auto;
  overflow-y:hidden;
  scroll-snap-type: x mandatory;
  display: flex;  
  margin: 0 10px;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.slider {
  display: flex;
  gap: 20px;
  padding: 0 12px;
  flex-shrink: 0;
}

