.banner { 
  overflow-x: hidden;
  flex-shrink: 0;
  scroll-snap-align: start;
  padding: 10px;
}

.image {
   border-radius: 14px;
  max-width:100%;
  height:auto;
  display:block;
  object-fit: cover;
}
