.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.searchInput {
  width: 90%;
  margin-top: 10px;
  padding: 10px 14px 10px 40px;
  border-radius: 22px;
  border: none;
  background: var(--gray-light);
  font-size: 16px;
  font-family: var(--font-vazir);
  direction: rtl;
  text-align: right;
}
.searchInput:focus {
  outline: none;
 
}
